body {
    background-color: #262626;

    font-family:"游ゴシック Light",sans-serif;
}

h2 {
    color: white;
    font-size: 50px;
    transition: all  1s ease;
}
h2 a:hover{
    color: #ffff23;
}
footer{
    color:white;
}
.main-visual {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url('topimage.jpg') top center / cover no-repeat;
}
    .main-visual h1{
        margin-left: 50px; 
        color: white;
        font-size: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
     }

 .main-visual hr{
    margin-left: 30px;  
 }
 .top_title{
 }
 .top_nav{
     padding-left: 22vw;
 }
 .top_table{

 }
 
 .top_nav_text{
    color: white;
    list-style-type: none;
    text-decoration: none;
 }
 .top_nav_text a:hover{
    color: #ffff23;
 }
 
 .myname{
    margin-left: 30px;
 }
 .about_text{
     color: white;
     font-size: 20px;
     margin-left: 30px;
 }
   
 .about_text hr{
    margin-right: 30px;
 }
 .activity img{
     width: 50%;
 }

 .icon_L img{
    width: 10%;
    float: right;
    margin-right: 20%;
}
.icon_R img{
    width: 10%;
    margin-left: 20%;
}
@media screen and (max-width: 480px) {
    #activity_text{
        color: white;
        font-size: 18px;  
        text-align: center;
    }
}
    #activity_text{
        color: white;
        font-size: 30px;  
        text-align: center;
    }


.section_activity{
    text-align: center;
}
.section_activity div{
    display: inline-block;
}
.choice{
    width: 30%;
    
}

.top_text{
    color: white;
    font-size: 20px;
}
/*-------------------ここまでHOME---------------------*/
.page_nav{
    color: white;
    list-style-type: none;
    padding-left: 10px;
    opacity: 0;
    transform: translateX(20px);
    transition: 1s ease;
}
.page_nav a{
    color: white;
}
.page_nav a:hover{
    color: #ffff23;
}
.box{
    height: 100vh;

}
.nav_tab{
    width: 20vw;
    align-items: center;
}
.activity_tab{
    
    width: 80vw;
    background-color: #001437;
}
.activity_img{
    width: 100%;
}

.activity_title{
    color: white;
    font-size: 40px;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.activity_detail{
    color: white;
    font-size: 15px;
    margin-left: 5px;
}
.activity_detail_img{
    width: 40%;
    margin-left: 5px;
    float: left;
    margin-right: 15px;
}
.activity_detail_img_p1{
    width: 28%;
    margin-left: 5px;
    float: left;
    margin-right: 15px;
}
.activity_detail_img_p2{
    width: 32%;
    margin-left: 5px;
    float: left;
    margin-right: 15px;
}
.activity_detail_img_p3{
    width: 28%;
    margin-left: 5px;
    clear: left;
    margin-right: 15px;
}
.nav_tab_next{
    width: 20vw;
    align-items: center;
}
.activity_tab_next{
    width: 80vw;
    background-color: #001437;
    margin-left: 5px;
}
#PC_view{
    background: url('activity_background.png');
    background-size: 100%;
}

.mainlink{
    text-decoration: none;
}
.detail_link{
    color:white;
}
.detail_link :hover{
    color: #ffff23;
}
#mob_view{
    display: none !important;
}
@media screen and (max-width: 480px) {
	/*スマホ用のCSS*/
    #PC_view{
        display: none;
    }
    .activity_detail_img{
        width: 88%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .activity_detail{
        color: white;
        font-size: 17px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .activity_detail_img_p1{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 95%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .activity_detail_img_p2{
        width: 95%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .activity_detail_img_p3{
        width: 95%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .youtube {
        position: relative;
        padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*----------------ここまでactivity-----------*/
header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #262626;
    align-items: center;
  }
   
  .header_name {
    margin-left: 5px;
    margin-right: auto;
    color: white;
  }
   
  .header_item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
  }
  .header_item a:hover{
   
    color: #ffff23;
  }
  /*------------------ここまでヘッダ--------------*/
  .image_top{
      width:100%;
      animation: slideIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  }
  .history_title_1{
    border-left: #ffff23 solid 5px;
    color: white;
    font-size: 35px;
    padding-left: 5px;
    margin-left: 10px;
    animation: slideIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}   
@keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    50%,100% {
      opacity: 1;
    }
  }
  .history_title{
      border-left: #ffff23 solid 5px;
      color: white;
      font-size: 35px;
      padding-left: 5px;
      margin-left: 10px;
      opacity: 0;
      transform: translateX(20px);
      transition: 1s ease;
  }   
  .history_detail{
      color:white;
      font-size: 25px;
      margin-left: 25px;
      opacity: 0;
      transform: translateX(20px);
      transition: 1s ease;
  }
  .history_detail_sub{
    color:white !important;
    font-size: 22px;
    margin-left: 35px;
    opacity: 0;
      transform: translateX(20px);
      transition: 1s ease;
  }